body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav {
  height: 60px;
  background-color: #262626;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  color: white;
  width: 10%;
  text-align: center;
  text-decoration: none;
}

.left-aside {
  width: 200px;
  margin: 30px 30px 0 50px;
}

.left-aside-section {
  padding: 20px;
}

.about {
  background-color: #f8f9fa;
}

.archive-link {
  display: block;
}

.content {
  display: flex;
}

.main {
  display: flex;
  flex: 1;
}

.articles {
  flex: 1;
  margin-top: 30px;
}

.article {
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.article figure {
  margin: 15px;
}

.article-img {
  width: calc(100% + 30px);
  height: 120px;
  margin: -15px -15px 0;
}

.article-title {
  margin-block-start: 10px;
  margin-block-end: 10px;
}

.article-description {
  margin-block-start: 0;
}

.article-link {
  text-decoration: none;
  color: #317cf6;
}

.right-aside {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

.login-form {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}

.text-input {
  padding: 10px;
  border: 1px solid #f0f0f0;
  width: 100%;
}

.email-input {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.password-input {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0;
  margin-bottom: 10px;
}

.login-submit {
  height: 35px;
  width: 100%;
  background-color: #317cf6;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  font-size: large;
}
